.page-heading {
    margin: 20px 25px 10px;
}

.reminders-list {
    margin: 10px 20px;
}

label.time {
    font-weight: bold;
    margin: 0 2px;
}

spinbutton.time text {
    font-weight: bold;
}

spinbutton.time button {
    padding: 0 5px;
    min-height: 20px;
}

.add-reminder {
    min-height: 50px;
    min-width: 50px;
    margin: 10px;
}

box.bottom {
    border-top: 1px solid alpha(currentcolor, 0.15);
}

row.time {
    padding: 10px;
    padding-left: 15px;
}

.save-row {
    padding: 10px;
}

button.complete {
    background-color: @success_bg_color;
}

button.incomplete {
    background-color: @warning_bg_color;
}