<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?if $(var.Configuration) = "Devel"?>
    <?define AppId = "io.github.remindersdevs.Reminders.Devel"?>
    <?if $(var.Platform) = "x64"?>
      <?define PlatformUpgradeCode = "25a851c6-e904-40c9-94a5-ec12b057a567"?>
    <?elseif $(var.Platform) = "x86"?>
      <?define PlatformUpgradeCode = "40c91a6b-9652-4d8e-be39-2114ec872b36"?>
    <?elseif $(var.Platform) ~= "arm64"?>
      <?define PlatformUpgradeCode = "991f1831-2f7c-4952-a7fe-0520dc2cc887"?>
    <?endif?>
  <?else?>
    <?define AppId = "io.github.remindersdevs.Reminders"?>
    <?if $(var.Platform) = "x64"?>
      <?define PlatformUpgradeCode = "6defd11a-69a2-46c9-b24a-d045101c579d"?>
    <?elseif $(var.Platform) = "x86"?>
      <?define PlatformUpgradeCode = "aa082d9f-989f-4ea8-b9f4-14baa2367278"?>
    <?elseif $(var.Platform) ~= "arm64"?>
      <?define PlatformUpgradeCode = "e9416ba2-8b3e-49ff-86d8-486055058fdf"?>
    <?endif?>
  <?endif?>
  <Package Language="1033" Name="!(loc.ApplicationName)" Manufacturer="!(loc.ManufacturerName)" UpgradeCode="$(var.PlatformUpgradeCode)" Version="!(bind.fileVersion.RemindersExe)" InstallerVersion="500" Scope="perUserOrMachine">
    <MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="yes" DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Launch Condition="Installed OR (VersionNT &gt;= 603)" Message="!(loc.VersionError)" />

    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon.ico" SourceFile="..\data\icons\$(var.AppId).ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <Feature Id="Reminders" Title="!(loc.ApplicationName)" Level="1" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentGroupRef Id="Data" />
      <ComponentRef Id="RemindersApp" />
      <ComponentRef Id="RemindersService" />
    </Feature>

    <DirectoryRef Id="APPLICATIONFOLDER">
      <Directory Id="BinDir" Name="bin">
        <Component Id="RemindersApp">
          <File Id="RemindersExe" Source="..\build\$(var.Platform)\Reminders.exe" KeyPath="yes">
            <Shortcut Id="RemindersShortcut" Advertise="yes" Name="!(loc.ApplicationName)" Description="!(loc.ApplicationDesc)" Directory="APPLICATIONFOLDER" Icon="AppIcon.ico" WorkingDirectory="APPLICATIONFOLDER" />
            <Shortcut Id="ApplicationStartMenuShortcut" Advertise="yes" Name="!(loc.ApplicationName)" Description="!(loc.ApplicationDesc)" Directory="ProgramMenuFolder" Icon="AppIcon.ico" WorkingDirectory="APPLICATIONFOLDER">
              <ShortcutProperty Key="System.AppUserModel.ID" Value="$(var.AppId)" />
            </Shortcut>
            <Shortcut Id="ApplicationDesktopShortcut" Advertise="yes" Name="!(loc.ApplicationName)" Description="!(loc.ApplicationDesc)" Directory="DesktopFolder" Icon="AppIcon.ico" WorkingDirectory="APPLICATIONFOLDER" />
          </File>
          <RegistryKey Root="HKMU" Key="Software\Classes\$(var.AppId).Open" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
            <RegistryValue Type="string" Name="URL Protocol" Value="" />
            <RegistryValue Type="string" Value="!(loc.ApplicationName)" />
            <RegistryKey Key="shell\open\command">
              <RegistryValue Type="string" Value="[#RemindersExe] &quot;%1&quot;" />
            </RegistryKey>
          </RegistryKey>
          <ProgId Id="$(var.AppId).Import" Description="!(loc.ImportDesc)" Advertise="yes" Icon="AppIcon.ico">
            <Extension Id="ics" Advertise="yes">
              <Verb Id="import" Command="!(loc.Import)" Argument="&quot;%1&quot;" />
              <MIME ContentType="text/calendar" Default="yes" />
            </Extension>
          </ProgId>
          <RemoveFolder Id="DesktopFolder" On="uninstall" />
          <RemoveFolder Id="ProgramMenuFolder" On="uninstall" />
          <RemoveFolder Id="APPLICATIONFOLDER" On="uninstall" />
        </Component>
        <Component Id="RemindersService">
          <File Id="ServiceExe" Source="..\build\$(var.Platform)\Reminders Service.exe" KeyPath="yes">
            <Shortcut Id="RemindersStartupShortcut" Advertise="yes" Name="!(loc.ServiceName)" Description="!(loc.ServiceDesc)" Directory="StartupFolder" Icon="AppIcon.ico" WorkingDirectory="APPLICATIONFOLDER" />
          </File>
          <RemoveFolder Id="StartupFolder" On="uninstall" />
        </Component>
      </Directory>
    </DirectoryRef>

    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <ui:WixUI Id="WixUI_Advanced" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="ApplicationFolderName" Value="Reminders" />

    <CustomAction Id="PerMachineInstall" Property="WixPerMachineFolder" Value="[ProgramFiles6432Folder][ApplicationFolderName]" Execute="immediate" />
    <CustomAction Id="PerUserInstall" Property="WixPerUserFolder" Value="[AppDataFolder][ApplicationFolderName]" Execute="immediate" />

    <InstallExecuteSequence>
      <Custom Action="PerMachineInstall" After="WixSetPerMachineFolder" />
      <Custom Action="PerUserInstall" After="WixSetPerUserFolder" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="PerMachineInstall" After="WixSetPerMachineFolder" />
      <Custom Action="PerUserInstall" After="WixSetPerUserFolder" />
    </InstallUISequence>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="APPLICATIONFOLDER" />
    </StandardDirectory>
  </Fragment>
</Wix>
