.page-heading {
    margin: 20px 25px 10px;
}

.reminders-list {
    margin: 10px 20px;
}

.repeat-list {
    margin: 20px;
}

.repeat-row {
    padding: 10px 20px;
}

.day-button {
    padding: 2px;
}

.day-button:checked {
    color: @accent_bg_color;
}

label.time {
    font-weight: bold;
    margin: 0 2px;
}

spinbutton.time entry {
    font-weight: bold;
}

spinbutton.time button {
    padding: 0 5px;
    min-height: 20px;
}

.add-reminder {
    min-height: 50px;
    min-width: 50px;
    margin: 10px;
}

box.bottom {
    border-top: 1px solid alpha(currentcolor, 0.15);
}

row.time {
    padding: 5px 10px;
}

.am-pm-button {
    margin-right: 5px;
}

.am-pm-button:dir(rtl) {
    margin-left: 5px;
}

.save-row {
    padding: 10px;
}

button.complete {
    background-color: @success_bg_color;
}

button.incomplete {
    background-color: @warning_bg_color;
}

.navigation-sidebar row {
    padding: 4px 12px;
}

.navigation-sidebar:disabled row image {
    opacity: 0.5;
}

/* Elaborate fix for https://gitlab.gnome.org/GNOME/gtk/-/issues/5309 */
.reminders-list > row:disabled + row:not(:disabled) {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.reminders-list > row:disabled + row:not(:disabled) > box > list > row.header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.reminders-list > row:nth-last-child(2) {
    border-bottom: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.reminders-list > row.expander:nth-last-child(2):not(:checked) > box > list > row.header {
    border-bottom: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.reminders-list > row.expander:nth-last-child(2) > box > revealer > list.nested > row:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.reminders-list > row.expander:nth-last-child(2) > box > revealer > list.nested {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Add support for nested expander */
list.nested row.header {
    border-radius: 0;
}
list.nested row.expander {
    border-bottom: 0;
}
list.nested list.nested {
    background-color: transparent;
}